# CountVector

## text 1

In [1]:
text = ["The quick brown fox jumped over the lazy dog."]

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

In [3]:
vectorizer.fit(text)

CountVectorizer()

In [4]:
print(vectorizer.vocabulary_)

{'the': 7, 'quick': 6, 'brown': 0, 'fox': 2, 'jumped': 3, 'over': 5, 'lazy': 4, 'dog': 1}

In [5]:
vector = vectorizer.transform(text)

In [6]:
print(vector.toarray())

[[1 1 1 1 1 1 1 2]]

In [7]:
print(vector.shape)

(1, 8)

In [8]:
print(type(vector))

<class 'scipy.sparse._csr.csr_matrix'>

## text 2

In [9]:
text = """Yesterday I went fishing. I don't fish that often, 
so I didn't catch any fish. I was told I'd enjoy myself, 
but it didn't really seem that fun."""

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

In [11]:
vector = vectorizer.fit_transform([text])
vector = vector.toarray()

In [12]:
print(vector)

[[1 1 1 2 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1]]

In [13]:
import pandas as pd
df = pd.DataFrame(vector,
                  columns = vectorizer.get_feature_names_out()
                 )

In [14]:
df

,any,but,catch,didn,don,enjoy,fish,fishing,fun,it,myself,often,really,seem,so,that,told,was,went,yesterday
0,1,1,1,2,1,1,2,1,1,1,1,1,1,1,1,2,1,1,1,1

In [15]:
df = df.T
df.head()

       0
any    1
but    1
catch  1
didn   2
don    1

In [16]:
df.rename(columns={0:'count'}, inplace=True)
df.head()

       count
any        1
but        1
catch      1
didn       2
don        1

In [17]:
df = df.sort_values(by='count', ascending=False)
df.head()

       count
didn       2
fish       2
that       2
any        1
often      1

## 전체코드
가장 바쁜 사람이 가장 많은 시간을 갖는다. 부지런히 노력하는 사람이 결국 많은 대가를 얻는다.

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

def count_vector():
    text = input()

    vectorizer = CountVectorizer()
    vector = vectorizer.fit_transform([text])
    vector = vector.toarray()

    df = pd.DataFrame(vector,
                      columns = vectorizer.get_feature_names_out()
                     )

    df = df.T
    df.rename(columns={0:'count'}, inplace=True)
    df = df.sort_values(by='count', ascending=False)
    
    return df

In [20]:
countvector = count_vector()

가장 바쁜 사람이 가장 많은 시간을 갖는다. 부지런히 노력하는 사람이 결국 많은 대가를 얻는다.

In [21]:
countvector.head()

     count
가장       2
많은       2
사람이      2
갖는다      1
결국       1