# Naver News

```client_id```와 ```client_secret``` 키를 입력하고 실행하세요.

In [1]:
client_id = '<CLIENT_ID>'
client_secret = '<CLIENT_SECRET>'

In [2]:
keyword = 'hlb'
start = 1

In [3]:
headers = {'X-Naver-Client-Id':client_id, 'X-Naver-Client-Secret':client_secret}
params = {'query':keyword, 'display':100, 'start':start}

In [4]:
url = 'https://openapi.naver.com/v1/search/news.json'

In [5]:
import requests
res = requests.get(url, params=params, headers=headers)

In [6]:
print(res.status_code)

200

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame.from_dict(res.json()['items'])

In [9]:
df.head(1)

,title,originallink,link,description,pubDate
0,"[증시] 코스피, 외인 순매수에 2,380대로 마감…외인 순매수 상위 종목은 삼성...",http://www.topstarnews.net/news/articleView.ht...,http://www.topstarnews.net/news/articleView.ht...,"14%), <b>HLB</b>테라퓨틱스 11,600원(▽ 50, -0.4%, 외인 ...","Thu, 19 Jan 2023 17:30:00 +0900"

In [10]:
from urllib.parse import urlparse

In [11]:
df['source'] = df['originallink'].apply(lambda x : urlparse(x).netloc)

In [12]:
df.head(1)

,title,originallink,link,description,pubDate,source
0,"[증시] 코스피, 외인 순매수에 2,380대로 마감…외인 순매수 상위 종목은 삼성...",http://www.topstarnews.net/news/articleView.ht...,http://www.topstarnews.net/news/articleView.ht...,"14%), <b>HLB</b>테라퓨틱스 11,600원(▽ 50, -0.4%, 외인 ...","Thu, 19 Jan 2023 17:30:00 +0900",www.topstarnews.net

In [13]:
df.to_csv('navernews.csv', encoding='utf-8-sig', index=False)

## 전체코드
```client_id```와 ```client_secret``` 키를 입력하고 실행하세요.

In [14]:
from urllib.parse import urlparse
import pandas as pd
import requests

def naver_news():
    client_id = '<CLIENT_ID>'
    client_secret = '<CLIENT_SECRET>'

    keyword = 'hlb'
    starts = [1, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

    frame = pd.DataFrame()
    for start in starts:

        headers = {'X-Naver-Client-Id':client_id, 'X-Naver-Client-Secret':client_secret}
        params = {'query':keyword, 'display':100, 'start':start}

        url = 'https://openapi.naver.com/v1/search/news.json'
        res = requests.get(url, params=params, headers=headers)

        df = pd.DataFrame.from_dict(res.json()['items'])
        df['source'] = df['originallink'].apply(lambda x : urlparse(x).netloc)

        frame = pd.concat([frame,df])

    frame.to_csv('navernews.csv', encoding='utf-8-sig', index=False)

    return frame

In [15]:
naver_news = naver_news()

In [16]:
naver_news.head(1)

,title,originallink,link,description,pubDate,source
0,"[증시] 코스피, 외인 순매수에 2,380대로 마감…외인 순매수 상위 종목은 삼성...",http://www.topstarnews.net/news/articleView.ht...,http://www.topstarnews.net/news/articleView.ht...,"14%), <b>HLB</b>테라퓨틱스 11,600원(▽ 50, -0.4%, 외인 ...","Thu, 19 Jan 2023 17:30:00 +0900",www.topstarnews.net

In [17]:
print(len(naver_news))

1100